
/*Botoes*/
.button{
    padding: .8rem 2.2rem;
    font: bold 500 16px/20px Century Gothic;
    position: relative;
    border:4px solid transparent;
    border-radius: 4px;
}

.button.primary-button{
background-image: linear-gradient(to right, #f83600 0%, orange 100%);;
background-clip: padding-box;
color:whitesmoke;
text-transform: uppercase;
background: .6s ease;
box-shadow: 1px 2px 10px rgba(0,0,0,0.4);
margin:10px;
font-weight: bold;
}


.button.primary-button:hover{
    background: whitesmoke;
    background-clip: padding-box;
    color:black;
}

.button.primary-button::after{
    position:absolute;
    top:-3px;
    bottom:-3px;
    left:-3px;
    right:-3px;
    background-image: linear-gradient(to right, #f83600 0%, orange 100%);
    content: '';
    z-index: -1;
    border-radius: 4px;   
}

/* FIM BOTOES*/



/*Titulo*/

.text-title{
    font-family:Century Gothic;
    display:inline-block;
    position: relative;
    color: #fc4506;
    font-size:27px;
    text-shadow: 0 2px 4px rgba(0, 0, 0,0.3);
}

.text-title::after,.text-title::before{
    content:'';
    position:absolute;
    width:100px;
    height: 4px;
    background-image: linear-gradient(to right, orange 0%, #f83600 100%);
    bottom:15px;
    transform: scale(0);
    transition: all 1s ease;
    border-radius: 5px;
}

.text-title::before{
    left:-110px
}
.text-title:after{
    right:-110px;
}

.text-title:hover::before, .text-title:hover::after{
    transform: scale(1);
}

/*Titulo 2 */

.text-title2{
    font-family:Century Gothic;
    color:grey;
    font-size:22px;
    text-shadow: 0 2px 4px rgba(0, 0, 0,0.3);
}

.text-title3{
    font-family:Century Gothic;
    color: #f76434;
    font-weight: bold;
    font-size:20px;
    text-shadow: 0 2px 4px rgba(0, 0, 0,0.3);
}

/*texto descricao*/

.texto-descricao{
    font-size: 18px;
    margin-top:10px;
}








/*Borda com logo*/

.borda{
    font-family:Century Gothic;
    display:inline-block;
    position: relative;
    color:orange;
    font-size:27px;
    text-shadow: 0 2px 4px rgba(0, 0, 0,0.3);
    text-align: center;
}

.borda::before{
    content:'';
    position:absolute;
    width:470px;
    height: 2px;
    background-color:#828888 ;  
    bottom:20px;
    border-radius: 5px;
}

.borda::after{
    content:'';
    position:absolute;
    width:470px;
    height: 2px;
    background-color:#fd4507 ;
    bottom:20px;
    border-radius: 5px;
}

.borda::before{
    left:-480px    
}
.borda:after{
    right:-480px;
}



